UnityPanelWidget,
.unity-panel {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#1A1A19, 1.4)),
                                     to (shade (#1A1A19, 1.0)));
    border-width: 0px 0 0 0;


    -unico-border-gradient: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
color: #FFFFFF;

}

.unity-panel.menuitem,
.unity-panel .menuitem {




}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.4)),
                                     to (shade (@dark_bg_color, 1.0)));

    color: @dark_fg_color;

  
}
